```
.\caddy.exe run
.\caddy.exe run --config .\Caddyfile
```
```
{
    florianthepro@icloud.com
}

ftpcraft.com {
    root * C:/caddy/www/ftpcraft.com
    encode gzip zstd
    file_server
}

buergerabstimmung.org {
    root * C:/caddy/www/2.example.com
    encode gzip zstd
    file_server
}

gitea.getitsec.com {
    reverse_proxy 127.0.0.1:3000
}
```
