ftpcraft.com {
    root * C:/caddy/www/ftpcraft.com
    encode gzip zstd
    file_server
}

buergerabstimmung.org {
    root * C:/caddy/www/buergerabstimmung.org
    encode gzip zstd
    file_server
}
2
idr.getitsec.com {
    root * C:/caddy/www/idr.getitsec.com
    encode gzip zstd
    file_server
}

gitea.getitsec.com {
    reverse_proxy 127.0.0.1:3000
}
